<h2>Your Matches</h2>

<%if(currentUser){%>
  <p>Hello , <%=currentUser.teamName%></p>
<%}%>


<a href ="matches/new" class="waves-effect waves-light btn">Create Match</a>



<% listOfMatches %>
<ul>
  <% listOfMatches.forEach((oneMatch) => { %>
    <li>
      <h3> <%= oneMatch.matchName %> </h3>

      <%oneMatch.matchPlayers.forEach((player)=>{%>
        <p> <%= player.name %> <%= player.points %>  </p>

      <p>Matches Played:
      <%=player.points+= player.points %>
      </p>

      <%})%>

      <img src="<%= oneMatch.matchPhoto %>" />

      <ul>
        <li>
          <a href ="/matches/details/<%= oneMatch._id %>" class="waves-effect waves-light btn">View Details</a>

          <a href ="/matches/<%= oneMatch._id %>/edit" class="waves-effect waves-light btn">Edit</a>
          <a href ="/matches/<%= oneMatch._id %>/delete" class="waves-effect waves-light red btn">Delete</a>

        </li>

        </ul>
      </ul>
</li>
<% }) %>
