<h2>Edit Match</h2>

<!-- weird if statement with "typeof" to avoid an error -->
<% if (typeof validationErrors !== "undefined") { %>
  <ul class="error">
    <!-- we cant do a forEach loop because "validationErrors" is an object -->

    <% for (let field in validationErrors) { %>
      <li> <%= validationErrors[field].message %> </li>
    <% } %>
  </ul>
<% } %>


<form method="post" action="/matches/<%= matchDetails._id %>">
  <label for="match-name-input"> Match Name: </label>
  <input  id="match-name-input" type="text"
      name="matchName" value="<%= matchDetails.matchName %>" />
  <br />


  <label for="match-image-input"> Match Photo </label>
  <input  id="match-image-input" type="text"
      name="matchPhoto" value="<%= matchDetails.matchPhoto %>" />
  <br />


  <%matchDetails.matchPlayers.forEach((player, i)=>{%>
    <p>
    <label for="match-points-input"> <%= player.name %> </label>
    <input  id="match-points-input" type="text" name="signupPlayers[<%=i%>][points]" value="<%= player.points%>" />
    <input type="hidden" name="signupPlayers[<%=i%>][name]" value="<%= player.name%>" />

    <%})%>


  <button class="waves-effect waves-light btn" > Save Changes </button>
</form>

<a href="/matches" class="waves-effect waves-teal btn-flat"><--Back</a>
